:root {
  --title-text-colour: hsl(244, 12%, 27%);
  --primary-text-colour: #757575;
  --accent-colour: #2196f3;
  --background-color: rgb(178, 236, 130);
  --main-bg-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  background-color: ;
  color: var(--primary-text-colour);
  font-family: "Balsamiq Sans", cursive;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;

  outline: red solid 1px;
}

/* -----------------Header----------------- */
.nav-header {
  display: flex;
  align-items: center;

  height: 100%;
}
.logo-header {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.nav-link > a {
  font-size: 30px;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container.header {
  background-image: repeating-linear-gradient(
    -45deg,
    #7fcff5,
    #7fcff5 10px,
    #c796f0 10px,
    #c796f0 20px
  );
  height: 100px;
  padding-top: 20px;
}
/* -----------------Main---------------- */
.container.main {
  background-color: var(--background-color);
  height: 1000px;
}

/* Alphabet list */

.container.alphabet {
  padding-top: 20px;
}

.sheet-title {
  font-size: 30px;
  letter-spacing: 1.2;
  margin: 0px auto 10px;
  text-align: center;
}
.letter-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.letter {
  position: relative;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 30px;
  /* width: 370px;
  height: 270px; */
}

.letter-img {
  /* width: 370px;
  height: 270px; */
  object-fit: cover;
  flex-basis: calc((100% - 90px) / 3);
  height: 270px;
}
.letter-name {
  font-size: 200px;
  font-weight: 700;
  color: #73dd55;
}

.letter:hover .overlay,
.letter:focus .overlay {
  transform: translatex(0);
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 149, 235, 0.5);

  transform: translatex(-100%);
  transition: transform 250ms ease;
}
/* ------------------Right-left------------- */

.window-item {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #c46e7a;
  border: #7202ce 3px solid;
  text-align: center;
  overflow: hidden;
}
.text {
  font-size: 50px;
  font-weight: 700;
  line-height: 250px;
  text-align: center;
  color: aqua;
}
.window-item.top:hover .rocket {
  animation-name: moverocket;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.rocket {
  position: absolute;
  display: flex;
  width: 70px;
  height: auto;
  left: 50%;
  transform: translateX(-50%) translateY(200%);
}
.window-set {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: space-around;
}
.left-right {
  display: flex;
  width: 100%;
  justify-content: center;
}
.left {
  margin-right: 250px;
}
/* .window-item:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.window-item:nth-child(2) {
  top: 50%;
  left: 0;
  /* transform: translateY(-150%); */
/* }
.window-item:nth-child(3) {
  top: 50%;
  left: 200px;
  transform: translateY(-150%);
}
.window-item:nth-child(4) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} */
@keyframes moverocket {
  0% {
    transform: translateX(-50%) translateY(200%);
  }
  100% {
    transform: translateX(-50%) translateY(-100%);
  }
}
