.window-item {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #c46e7a;
  border: #7202ce 3px solid;
  text-align: center;
  overflow: hidden;
}
.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: 700;
  line-height: 250px;
  color: aqua;
  text-transform: uppercase;
  text-shadow: #757575;
}

.rocket {
  position: absolute;
  display: flex;
  width: 90px;
  height: auto;
  left: 50%;
  transform: translateX(-50%) translateY(150%);
}
.window-item.top:hover .rocket {
  animation-name: moverocket;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.train {
  position: absolute;
  display: flex;
  width: 170px;
  height: auto;
  left: 101%;
  top: 50%;
  transform: translateX(0%) translateY(-50%);
}
.window-item.left:hover .train {
  animation-name: movetrain;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.plane {
  position: absolute;
  display: flex;
  width: 170px;
  height: auto;
  left: 0%;
  top: 50%;
  transform: translateX(-101%) translateY(-50%);
}
.window-item.right:hover .plane {
  animation-name: moveplane;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.submarine {
  position: absolute;
  display: flex;
  width: 160px;
  height: auto;
  left: 50%;
  transform: translateX(-50%) translateY(-101%);
}
.window-item.bottom:hover .submarine {
  animation-name: movesubmarine;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.window-set {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: space-around;
}
.left-right {
  display: flex;
  width: 100%;
  justify-content: center;
}
.left {
  margin-right: 250px;
}

@keyframes moverocket {
  0% {
    transform: translateX(-50%) translateY(200%);
  }
  100% {
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes movetrain {
  0% {
    transform: translateX(0%) translateY(-50%);
  }
  100% {
    transform: translateX(-250%) translateY(-50%);
  }
}
@keyframes moveplane {
  0% {
    transform: translateX(-101%) translateY(-50%);
  }
  100% {
    transform: translateX(145%) translateY(-50%);
  }
}
@keyframes movesubmarine {
  0% {
    transform: translateX(-50%) translateY(-101%);
  }
  100% {
    transform: translateX(-50%) translateY(210%);
  }
}
